@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%); */
    /* background: url("../pexels-tim-mossholder-1605148.jpg") no-repeat center; */
    background: radial-gradient(
        circle closest-corner at center 125px,
        #222,
        black 40%
    ) no-repeat;
    transform: scale(1.3);
    font-family: 'Josefin Sans', sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.text {
    position: absolute; 
    top: 15%;
    right: 15%;
    color: #fff;
    font-size: 5vw;
    letter-spacing: 0.5rem;
    font-weight: 700;
}